
.section-menu,
.section-opciones,
.section-user,
.logo{
    display: flex;
}

.logo{
    font-family: 'ubuntu-bold';
}

.section-menu{
    height: 80px;
    padding-left: 100px;
    padding-right: 100px;
    top: 0;
    display: flex;
    align-items: center;
    background: #fff;
    width: 100%;
    justify-content: space-between;
    color: #000;
}

.section-opciones p{
    font-family: 'opensans-light';
    margin-bottom: 0;
}

.op-menu{
    margin-right: 14px;
}

.op-user{
    margin-right: 10px;
}


.section-user{
    font-family: 'opensans-regular';
}

.icon-config{
    color: aqua;
}