<header class="">
    <div class="section-menu sombra">
        <div class="logo cursor">
            <div>
                <i class="fa-solid fa-utensils utencilio-icon"></i>
            </div>
            <div [routerLink]="['/']">
                <h5>AppRecetas</h5>
            </div>
        </div>
        <div class="section-opciones">

            <div *ngFor="let item of menuOpciones; index as i">

                <div class="op-menu cursor" [routerLink]="[item.route]">
                    <p>{{item.label}}</p>
                </div>
            </div>

        </div>
        <div class="section-user">
            <div class="op-user cursor" [routerLink]="['/add']">
                <i class="fa-solid fa-pizza-slice icon-user" pTooltip="Nueva publicacion" tooltipPosition="bottom"></i>
            </div>
            <div class="op-user cursor" [routerLink]="['/me']">
                <i class="fa-solid fa-user  icon-user" pTooltip="Mi perfil" tooltipPosition="bottom"></i>
            </div>
            <div class="op-user cursor" (click)="logout()">
                <i class="fa-solid fa-right-to-bracket icon-user" pTooltip="Cerrar Sesion"
                    tooltipPosition="bottom"></i>
            </div>
        </div>
    </div>

</header>