<header class="">
    <div class="section-menu sombra">
        <div class="logo">
            <i class="fa-duotone fa-knife-kitchen"></i>
            <h4>AppRecetas</h4>
        </div>
        <div class="section-opciones">
            <div>
                <p>Inicio</p>
            </div>
            <div>
                <p>Recetas</p>
            </div>
        </div>
        <div class="section-user">
            <div>
                Mi perfil
            </div>
            <div>
               Inciar sesion
            </div>
        </div>
    </div>
   
</header>

<i class="fab fa-amazon fa-10x"></i>
<i class="fa-solid fa-user-doctor  "></i>
<i class="fa-solid fa-user-doctor  "></i>
<i class="fa-solid fa-utensils "></i>
<i class="fa-regular fa-user "></i>
<i class="fa-solid fa-utensils "></i>
<i class="fa-regular fa-user "></i>

