<div class="container">

    <div class="addpost">
        <div class="">
            <div class="addpost-titulo">
                <h2>Nueva receta</h2>
            </div>
        </div>
        <div class="addpost-formulario">

                <app-add-post [postForm]="formService.getPostForm()"> </app-add-post>

                <app-pasos-recetas [pasosRecetaForm]="formService.getPasosRecetasForm()"> </app-pasos-recetas>

                <app-ingrediente-recetas [ingredienteRecetasForm]="formService.getIngredientesReecetasForm()"> </app-ingrediente-recetas>

                <app-nutricion-recetas [nutricionForm]="formService.getNutricionRecetaForm()" > </app-nutricion-recetas>

                <app-imagenes-post [imagenPostForm]="formService.getImagenesPostForm()"> </app-imagenes-post>

                <div>
                    <button pButton pRipple type="button" label="Guargar" class="p-button-success" (click)="onSave()"></button>
                </div>

        </div>
    </div>
</div>