<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark sidebar-config" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <svg class="bi pe-none me-2" width="40" height="32">
            <use xlink:href="#bootstrap" />
        </svg>
        <span class="fs-4">RentCar</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li>
            <div  class="nav-link text-white pointer" [routerLink]="['/renta']">
                <svg class="bi pe-none me-2" width="16" height="16">
                    <use xlink:href="#speedometer2" />
                </svg>
                Rentas
            </div>
        </li>
        <li>
            <div  class="nav-link text-white pointer" [routerLink]="['/renta/inspeccion']">
                <svg class="bi pe-none me-2" width="16" height="16">
                    <use xlink:href="#speedometer2" />
                </svg>
                Inspecciones
            </div>
        </li>
        <li>
            <div  class="nav-link text-white pointer" [routerLink]="['/renta/marca']">
                <svg class="bi pe-none me-2" width="16" height="16">
                    <use xlink:href="#table" />
                </svg>
                Marcas
            </div>
        </li>
        <li>
            <div  class="nav-link text-white pointer" [routerLink]="['/renta/modelo']">
                <svg class="bi pe-none me-2" width="16" height="16">
                    <use xlink:href="#grid" />
                </svg>
                Modelos
            </div>
        </li>
        <li>
            <div  class="nav-link text-white pointer" [routerLink]="['/renta/tipoPersona']">
                <svg class="bi pe-none me-2" width="16" height="16">
                    <use xlink:href="#people-circle" />
                </svg>
                Tipo Persona
            </div>
        </li>
        <li>
            <div  class="nav-link text-white pointer">
                <svg class="bi pe-none me-2" width="16" height="16">
                    <use xlink:href="#people-circle" />
                </svg>
                Tipo Combustible
            </div>
        </li>
        <li>
            <div  class="nav-link text-white pointer" [routerLink]="['/renta/vehiculos']">
                <svg class="bi pe-none me-2" width="16" height="16">
                    <use xlink:href="#people-circle" />
                </svg>
                Vehiculo
            </div>
        </li>
        <li>
            <div  class="nav-link text-white pointer" [routerLink]="['/renta/tipoVehiculos']">
                <svg class="bi pe-none me-2" width="16" height="16">
                    <use xlink:href="#people-circle" />
                </svg>
                Tipo Vehiculo
            </div>
        </li>
        <li>
            <div  class="nav-link text-white pointer" [routerLink]="['/renta/empleados']">
                <svg class="bi pe-none me-2" width="16" height="16">
                    <use xlink:href="#people-circle" />
                </svg>
                Empleados
            </div>
        </li>
        <li>
            <div  class="nav-link text-white pointer" [routerLink]="['/renta/clientes']">
                <svg class="bi pe-none me-2" width="16" height="16">
                    <use xlink:href="#people-circle" />
                </svg>
                Clientes
            </div>
        </li>
    </ul>
    <hr>
    <div class="dropdown">
        <a  class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1"
            data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
            <strong>Salir</strong>
        </a>
    </div>
</div>