<div class="row">
    <div class="d-flex ">
        <h4>Imagenes</h4>
        <p-badge value="Hasta 5 imagenes" styleClass="mr-2" severity="info"></p-badge>
    </div>

    <form [formGroup]="imagenPostForm">
        <div class="form-group mb-3">
            <label for="">¿Subir Imagenes?</label>
            <ng-select [items]="shortAnswers" formControlName="SuibrImagenes" [clearable]="false" bindLabel="text"
                bindValue="id" placeholder="Seleccione" class="state-error">
                <ng-template ng-typetosearch-tmp>
                    <div class="ng-option disabled">
                        Empieza a escribir...
                    </div>
                </ng-template>
                <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                    <div>
                        {{ item.text }}
                    </div>
                </ng-template>
                <ng-template ng-notfound-tmp let-searchTerm="searchTerm">
                    <div class="ng-option disabled">
                        Ningun dato encontrado para "{{ searchTerm }}"
                    </div>
                </ng-template>
            </ng-select>
        </div>
    </form>

    <div *ngIf="showUploadPost">
        <app-upload-image-post (imagenesPost)="capturarImagenesPost($event)" ></app-upload-image-post>
    </div>

</div>