<div class="card__container">

    <div class="card">
        <div class="card__cover">
            <div class="card__cover--one">
                <div class="card__tag">
                    Pokemon
                </div>
            </div>
        </div>
        <div class="card__body">
            <div class="card__title">
                Animal Crossings
            </div>
            <div class="card__desc">
                Mario ipsum RGB mushroom 1-up. Lava NES fireball 1-up piranha plant castle green shell.
            </div>
        </div>
    </div>


    <div class="card">
        <div class="card__cover">
            <div class="card__cover--one">
                <div class="card__tag">
                    Pokemon
                </div>
            </div>
        </div>
        <div class="card__body">
            <div class="card__title">
                Animal Crossings
            </div>
            <div class="card__desc">
                Mario ipsum RGB mushroom 1-up. Lava NES fireball 1-up piranha plant castle green shell.
            </div>
        </div>
    </div>



    <div class="card">
        <div class="card__cover">
            <div class="card__cover--one">
                <div class="card__tag">
                    Pokemon
                </div>
            </div>
        </div>
        <div class="card__body">
            <div class="card__title">
                Animal Crossings
            </div>
            <div class="card__desc">
                Mario ipsum RGB mushroom 1-up. Lava NES fireball 1-up piranha plant castle green shell.
            </div>
        </div>
    </div>


    <div class="card">
        <div class="card__cover">
            <div class="card__cover--one">
                <div class="card__tag">
                    Pokemon
                </div>
            </div>
        </div>
        <div class="card__body">
            <div class="card__title">
                Animal Crossings
            </div>
            <div class="card__desc">
                Mario ipsum RGB mushroom 1-up. Lava NES fireball 1-up piranha plant castle green shell.
            </div>
        </div>
    </div>



    <div class="card">
        <div class="card__cover">
            <div class="card__cover--one">
                <div class="card__tag">
                    Pokemon
                </div>
            </div>
        </div>
        <div class="card__body">
            <div class="card__title">
                Animal Crossings
            </div>
            <div class="card__desc">
                Mario ipsum RGB mushroom 1-up. Lava NES fireball 1-up piranha plant castle green shell.
            </div>
        </div>
    </div>


    <div class="card">
        <div class="card__cover">
            <div class="card__cover--one">
                <div class="card__tag">
                    Pokemon
                </div>
            </div>
        </div>
        <div class="card__body">
            <div class="card__title">
                Animal Crossings
            </div>
            <div class="card__desc">
                Mario ipsum RGB mushroom 1-up. Lava NES fireball 1-up piranha plant castle green shell.
            </div>
        </div>
    </div>


    <div class="card">
        <div class="card__cover">
            <div class="card__cover--one">
                <div class="card__tag">
                    Pokemon
                </div>
            </div>
        </div>
        <div class="card__body">
            <div class="card__title">
                Animal Crossings
            </div>
            <div class="card__desc">
                Mario ipsum RGB mushroom 1-up. Lava NES fireball 1-up piranha plant castle green shell.
            </div>
        </div>
    </div>


    <div class="card">
        <div class="card__cover">
            <div class="card__cover--one">
                <div class="card__tag">
                    Pokemon
                </div>
            </div>
        </div>
        <div class="card__body">
            <div class="card__title">
                Animal Crossings
            </div>
            <div class="card__desc">
                Mario ipsum RGB mushroom 1-up. Lava NES fireball 1-up piranha plant castle green shell.
            </div>
        </div>
    </div>


    <div class="card">
        <div class="card__cover">
            <div class="card__cover--one">
                <div class="card__tag">
                    Pokemon
                </div>
            </div>
        </div>
        <div class="card__body">
            <div class="card__title">
                Animal Crossings
            </div>
            <div class="card__desc">
                Mario ipsum RGB mushroom 1-up. Lava NES fireball 1-up piranha plant castle green shell.
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card__cover">
            <div class="card__cover--one">
                <div class="card__tag">
                    Pokemon
                </div>
            </div>
        </div>
        <div class="card__body">
            <div class="card__title">
                Animal Crossings
            </div>
            <div class="card__desc">
                Mario ipsum RGB mushroom 1-up. Lava NES fireball 1-up piranha plant castle green shell.
            </div>
        </div>
    </div>


</div>