<div class="section-main">
    <div class="section-image">
    </div>
    <div class="section-login">
        
        <div class="section-titulo">
            <h4 class="iniciar-sesion">Iniciar Sesion</h4>
        </div>
        <div class="section-formulario">
            <form [formGroup]="loginForm">
                <div class="form-group mb-3">
                    <div for="">Usuario</div>
                    <input type="email" class="baseInput negate-invalid" formControlName="Usuario">
                </div>
                <div class="form-group mb-3">
                    <div for="">Contraseña</div>
                    <input type="password" class="baseInput negate-invalid" formControlName="PassWord">
                </div>
                <div class="section-button">
                    <button 
                    [disabled]="!loginForm.valid"
                    (click)="login()"
                    class="btn btn-base">
                        Iniciar Sesión
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>