


<div>
    <div class="">
        <div class="section-add-buscar">
            <div class="">
                <button type="button" class="btn  btn-add" [routerLink]="['add']">Crear Renta</button>
            </div>
            <div>
                <input type="text" class="baseInput" placeholder="Buscar">
            </div>
        </div>
    </div>

</div>

<h2>Rentas</h2>


<table class="table table-striped table-hover">
    <thead class="table-title">
        <tr>
            <th>Date Created</th>
            <th>Role</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>04/10/2013</td>
            <td>Admin</td>
            <td><span class="status text-success">&bull;</span> Active</td>
        </tr>
        <tr>

            <td>04/10/2013</td>
            <td>Admin</td>
            <td><span class="status text-success">&bull;</span> Active</td>
        </tr>
        <tr>

            <td>04/10/2013</td>
            <td>Admin</td>
            <td><span class="status text-success">&bull;</span> Active</td>
        </tr>
        <tr>

            <td>04/10/2013</td>
            <td>Admin</td>
            <td><span class="status text-success">&bull;</span> Active</td>
        </tr>

    </tbody>

</table>