<form [formGroup]="postForm">
    <div class="form-group mb-3">
        <label for="">Titulo</label>
        <input type="text" class="form-control" formControlName="Titulo">
    </div>

    <div class="form-group mb-3">
        <label for="">Descripcion</label>
        <textarea class="form-control text-config" formControlName="Descripcion"></textarea>
    </div>

    <div class="form-group mb-3">
        <label for="">Cantidad de personas</label>
        <input type="number" class="form-control" formControlName="CantidadPersona">
    </div>

    <div class="form-group mb-3">
        <label for="">Dificultad</label>
        <input type="text" class="form-control" formControlName="NivelDificultad">
    </div>
</form>