/* You can add global styles to this file, and also import other style files */


//bootstrap
@import url('../node_modules/bootstrap/dist/css/bootstrap.min.css');

//ng prime
@import '../node_modules/primeicons/primeicons.css';
@import '../node_modules/primeng/resources/themes/lara-light-indigo/theme.css';
@import '../node_modules/primeng/resources/primeng.min.css';

//ngselect
@import "~@ng-select/ng-select/themes/default.theme.css";

//toast
@import '~ngx-toastr/toastr';

//FONTS
@font-face{
    font-family:'lilita-one';
    src: url('assets/fonts/LilitaOne-Regular.ttf');
}
@font-face {
    font-family: 'montserrat-medium';
    src: url('assets/fonts/montserrat/Montserrat-Medium.ttf');
}
@font-face {
    font-family: 'montserrat-regular';
    src: url('assets/fonts/montserrat/Montserrat-Regular.ttf');
}
@font-face{
    font-family: 'ubuntu-bold';
    src: url('assets/fonts/ubuntu/Ubuntu-Bold.ttf');
}
@font-face{
    font-family: 'ubuntu-regular';
    src: url('assets/fonts/ubuntu/Ubuntu-Regular.ttf');
}
@font-face{
    font-family: 'opensans-light';
    src: url('assets/fonts/openssans/OpenSans-Light.ttf');
}
@font-face{
    font-family: 'opensans-regular';
    src: url('assets/fonts/openssans/OpenSans-Regular.ttf');
}
@font-face{
    font-family: 'opensans-medium';
    src: url('assets/fonts/openssans/OpenSans-Medium.ttf');
}








body{
    background-color: #F4F6F9 !important;
}

//sombra
.sombra{
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.cursor{
    cursor: pointer;
}

//inputs
.form-control:focus{
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0);
}
h4{
    font-family: 'ubuntu-bold';
}

.p-inputtext{
    padding-top: 6px;
    padding-bottom: 6px;

    padding-right:12px;
    padding-left: 12px;
}


input.ng-invalid {
    border: 1px solid #f00 !important;
}
ng-select.ng-invalid .ng-select-container {
    border-color: #dc3545 !important;
}

//margin
.margin-rigth4{
    margin-right: 4px;
}


//boton base
.btn-base{
    width: 100%;
    font-family: 'ubuntu-bold';
    font-weight: 600;
    background: #5854E5;
    border: none;
    color: #fff;
    padding-top: 14px;
    padding-bottom: 14px;
    border-radius: 12px;
}
